.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}
.about-image {
  width: 80%;
  height: auto;
}
.about .about-text {
  line-height: 25px;
  color: rgb(112, 43, 43);
  padding: 0 60px;
  margin-bottom: 30px;
}
.about .about-title {
  margin: 60px auto 30px;
  font-size: 45px;
  text-align: center;
}

.about .about-info {
  min-width: 300px;
  max-width: 800px;
  text-align: justify;
}
