.home {
  color: white;
  letter-spacing: 2px;
  width: 100%;
  background-image: url(../../assets/home-banner.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: start;
}
.home .texts {
  border-radius: 30px;
  margin-left: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}
.home h1 {
  font-size: 60px;
  margin: 60px 100px 30px;
}
.home p {
  margin: 0 100px 30px;
}
.home button {
  background-color: white;
  border: 0;
  padding: 20px 60px;
  font-size: 2rem;
  border-radius: 10px;
  margin: 10px 150px 40px;
  transition: 0.5s ease;
  cursor: pointer;
  outline: 0;
}
.home button a {
  text-decoration: none;
  color: rgb(41, 34, 34);
}

.home button:hover a {
  color: white;
}
.home button:hover {
  background-color: rgb(41, 34, 34);
}
