.footer {
  background-color: rgb(41, 34, 34);
  color: white;
  height: 150px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer svg {
  margin: 0 5px;
  cursor: pointer;
}
.footer .social-media {
  margin-bottom: 10px;
}
